*.lst
*.a65
*.opt
*.dat
*.ved
*.o
*.bin
*.dsk
.vscode/settings.json
.vscode/c_cpp_properties.json
*.xex
*.exe
*~
clients/_libs
clients/_libs/**
clients/_cache
clients/_cache/**
clients/build
clients/build/**
clients/r2r
clients/r2r/**
__pycache__/
*.pyc
.gitignore
clients/coco/.vscode/c_cpp_properties.json
